name: Deploy project to our server
on:
  push:
    branches:
      - main
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: 93.188.160.207
          username: nocolon-ftp
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /public_html/
          protocol: ftp
          port: 21
          timeout: 60000
          log-level: verbose
          security: loose
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/vendor/**
            **/.env
